@use './fonts.scss' as *;

@mixin font(
  $weight,
  $size,
  $line-height: $lh-normal,
  $color: $color-gray,
  $letter-spacing: null
) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  color: $color;
  @if $letter-spacing {
    letter-spacing: $letter-spacing;
  }
  vertical-align: $valign-middle;
}

@mixin fontH1 {
  @include font($fw-bold, $fs-h1, $lh-tight, $color-blue);
}

@mixin fontH2 {
  @include font($fw-bold, $fs-h2, $lh-normal, $color-darkblue);
}

@mixin fontH2--bold {
  @include font($fw-bold, $fs-h2-bold, $lh-normal, $color-blue);
}

@mixin fontH3--bold {
  @include font($fw-semibold, $fs-h3, $lh-tight, $color-darkblue, $ls-wide);
}

@mixin fontH4 {
  @include font($fw-regular, $fs-h4, $lh-tight, $color-gray);
}

@mixin fontH4--darkblue {
  @include font($fw-regular, $fs-h4, $lh-tight, $color-darkblue);
}

@mixin fontH4--semiBold--darkblue {
  @include font($fw-semibold, $fs-h4, $lh-tight, $color-darkblue);
}

@mixin fontH5--darkblue {
  @include font($fw-semibold, $fs-h3, $lh-tight, $color-darkblue, $ls-wide);
}

@mixin fontMainText--reg {
  @include font($fw-regular, $fs-main, $lh-main, $color-gray);
}

@mixin fontMain {
  @include font($fw-medium, $fs-main, $lh-main, $color-gray);
}

@mixin fontMain--darkblue {
  @include font($fw-medium, $fs-main, $lh-main, $color-darkblue);
}

@mixin fontSec--gray {
  @include font($fw-medium, $fs-sec, $lh-main, $color-gray);
}

@mixin fontSec--lightgray {
  @include font($fw-medium, $fs-sec, $lh-main, $color-lightGray);
}

@mixin fontSec--darkblue {
  @include font($fw-medium, $fs-sec, $lh-main, $color-darkblue);
}

@mixin fontSec--blue {
  @include font($fw-medium, $fs-sec, $lh-main, $color-blue);
}

@mixin fontSec--white {
  @include font($fw-medium, $fs-sec, $lh-main, $color-white);
}

@mixin fontSec--reg--gray {
  @include font($fw-regular, $fs-sec, $lh-main, $color-gray);
}

@mixin fontSecReg--darkblue {
  @include font($fw-regular, $fs-sec, $lh-main, $color-darkblue);
}

@mixin fontSmall--gray {
  @include font($fw-regular, $fs-small, $lh-main, $color-gray);
}

@mixin fontSmall--darkblue {
  @include font($fw-regular, $fs-small, $lh-main, $color-darkblue);
}

@mixin fontSmall--red {
  @include font($fw-regular, $fs-small, $lh-main, $color-err);
}

@mixin fontSmall--green {
  @include font($fw-regular, $fs-small, $lh-main, $color-success);
}
