$background1: #f7fafc;
$background2: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$background3: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

$main-background-color: $background1;

// Font weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Font sizes
$fs-h1: 48px;
$fs-h2-bold: 30px;
$fs-h2: 24px;
$fs-h3: 18px;
$fs-h4: 20px;
$fs-main: 16px;
$fs-sec: 14px;
$fs-small: 12px;

// Line heights
$lh-tight: 1.2;
$lh-normal: 1.33;
$lh-main: 1.4;

// Letter spacings
$ls-wide: 1px;

// Colors
$color-blue: #3e9ee3;
$color-blue--hover: #75bbed;
$color-darkblue: #142952;
$color-gray: #5e6776;
$color-lightGray: #8691a7;
$color-white: #fff;
$color-black: #000;
$color-err: #ef4444;
$color-success: #22c55e;

// Alignment
$valign-middle: middle;
