@use '../../../styles/mixins' as *;
@use '../../../styles/fonts.scss' as *;

.resendButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;

  @include fontSec--blue;

  &__disabled {
    color: #5e6776;
    cursor: auto;
  }
}
