@use '../../../styles//fonts.scss' as *;

.text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;

  // запобігає горизонтальному скролу
  overflow-x: hidden;

  // обмеження ширини в контейнері, якщо потрібно
  max-width: 100%;

  // Якщо хочеш clamp на 2 рядки — додається тут
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  // гарна анімація
  transition: all 0.2s ease;
}

.expanded {
  display: block;
  -webkit-line-clamp: unset;
  overflow: visible;
}

.more {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  vertical-align: middle;
  color: $color-blue;
  cursor: pointer;
}
