@use '../../../../../styles/mixins' as *;
@use '../../../../../styles/fonts.scss' as *;

$imgHeight: 328px;

.card {
  background-color: $color-white;
  border: 1px solid #e1e7ef;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  &:hover .actionButtons {
    opacity: 1;
    pointer-events: auto;
  }

  &:hover .imageContainer {
    filter: brightness(0.15);
    z-index: 2;
    pointer-events: none;
  }
}

.loaderContainer {
  position: absolute;
  top: calc(0.4 * $imgHeight);
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: $imgHeight;
  background-color: #ececec;
  border-bottom: 1px solid #e1e7ef;
  transition: 0.2s ease-in-out;
}

.imageFromApi {
  height: 80%;
  object-fit: contain;
  box-shadow: 20px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.mockedImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.actionButtons {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(0.5 * $imgHeight);
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 3;
}

.actionButton {
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;

  &__info {
    background-image: url('../../../../../assets/images/miniIcons/infoIcon.svg');
    filter: brightness(1); // базова
    transition: filter 0.2s ease;

    &:hover {
      filter: brightness(1.4); // світліше
    }
  }

  &__edit {
    background-image: url('../../../../../assets/images/miniIcons/bookEditIcon.svg');

    &:hover {
      background-image: url('../../../../../assets/images/miniIcons/bookEditIconHover.svg');
    }
  }

  &__delete {
    background-image: url('../../../../../assets/images/miniIcons/deleteBookIcon.svg');

    &:hover {
      background-image: url('../../../../../assets/images/miniIcons/deleteBookIconHover.svg');
    }
  }
}

.info {
  padding: 12.5px 12px;
}

.title {
  @include fontSec__darkblue;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookAdded {
  margin-top: 4px;
  @include fontSmall__gray;
}
