@use '../../../../styles/fonts.scss' as *;

.searchQuery {
  position: relative;

  &__img {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 24px;
    height: 24px;
  }

  &__input {
    border: none;
    width: 100%;
    height: 40px;
    background: $main-background-color;

    border: 1px solid #e1e7ef;
    border-radius: 6px;

    padding: 8px;
    padding-left: 40px;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    outline: none;

    &:focus {
      border: 1px solid $color-blue;
    }

    &::placeholder {
      color: $color-lightGray;
    }
  }
}
