@use '../../styles/fonts' as *;
@use '../../styles/mixins' as *;

.wrapper {
  background: $main-background-color;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 850px;
  height: 212px;
}

.title {
  @include fontH1;
  text-align: center;
}

.description {
  margin-top: 24px;
  width: 850px;

  @include fontH4;
  text-align: center;
}

.actions {
  margin-top: 40px;
  display: flex;
  width: 352px;
  height: 48px;
  gap: 16px;
}

.button {
  color: $color-white;
  background-color: $color-blue;
  width: 176px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid $color-blue;
  cursor: pointer;

  @include fontSec--white;

  &:hover {
    background: $main-background-color;
    color: $color-blue;
  }
}

.features {
  margin-top: 88px;
  display: flex;
  gap: 32px;
  width: 1024px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 248px;
  background-color: $color-white;
  border: 1px solid #e1e7ef;
  border-radius: 8px;
}

.cardImg {
  margin-top: 24px;
  width: 48px;
  height: 48px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 263px;
  height: 98px;
}

.cardTitle {
  @include fontH4--semiBold--darkblue;
  margin-top: 16px;
}

.cardDescription {
  text-align: center;
  margin-top: 8px;
  color: #525f7a;
}
