@use '../../../styles/fonts.scss' as *;
@use '../../../styles/mixins' as *;

.bookList {
  grid-auto-rows: 659px;
  grid-auto-flow: row;
  gap: 24px;
}

.container {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-auto-flow: row;
  gap: 24px;
}

.search {
  display: flex;
  gap: 16px;
}

.searchContainer {
  display: flex;
  gap: 16px;
  width: 100%;

  &__input {
    flex: 2;
  }

  &__sort {
    display: flex;
    align-items: center;
    @include fontSec--gray;
    gap: 8px;
  }
}

.showAmount {
  margin-top: 24px;
  @include fontSec--gray;
}
